In [2]:
import pandas as pd
df = pd.read_csv("C:/TechLabs/PandasApp/myenv_1/gym_membership_prediction_with_professional_status.csv")
df

,User ID,Age,Gender,Annual Income,Membership Type,Membership Duration,Frequency of Visit,Preferred Time,Previous Membership,Marital Status,Location,Promotion Response,Health Condition,Membership Prediction,Professional,Professional Status
0,1,62,Other,135305,Premium,46,2,Afternoon,Yes,Married,Rural,Yes,Average,No,Late Career,Retired
1,2,65,Male,59056,Basic,26,6,Afternoon,Yes,Single,Suburban,Yes,Good,No,Retired,Retired
2,3,18,Male,63857,Basic,46,2,Afternoon,No,Married,Rural,Yes,Excellent,No,Student,Student
3,4,21,Male,135072,Basic,54,1,Evening,No,Married,Suburban,No,Good,Yes,Student,Student
4,5,21,Female,59344,Basic,36,5,Morning,Yes,Single,Suburban,No,Excellent,Yes,Student,Student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,40,Male,127601,Premium,15,1,Afternoon,Yes,Single,Urban,No,Good,No,Mid Career,Working Professional
3996,3997,40,Female,77944,Premium,34,1,Evening,No,Single,Urban,No,Average,No,Mid Career,Working Professional
3997,3998,62,Male,33154,Basic,40,1,Evening,Yes,Married,Suburban,No,Good,Yes,Late Career,Retired
3998,3999,55,Female,139822,Premium,39,3,Afternoon,Yes,Single,Urban,No,Poor,Yes,Late Career,Working Professional
3999,4000,52,Female,61604,Basic,6,6,Morning,Yes,Single,Suburban,Yes,Average,Yes,Late Career,Working Professional

In [4]:
df.info

<bound method DataFrame.info of       User ID  Age  Gender  Annual Income Membership Type  \
0           1   62   Other         135305         Premium
1           2   65    Male          59056           Basic
2           3   18    Male          63857           Basic
3           4   21    Male         135072           Basic
4           5   21  Female          59344           Basic
...       ...  ...     ...            ...             ...
3995     3996   40    Male         127601         Premium
3996     3997   40  Female          77944         Premium
3997     3998   62    Male          33154           Basic
3998     3999   55  Female         139822         Premium
3999     4000   52  Female          61604           Basic

      Membership Duration  Frequency of Visit Preferred Time  \
0                      46                   2      Afternoon
1                      26                   6      Afternoon
2                      46                   2      Afternoon
3                      54                   1        Evening
4                      36                   5        Morning
...                   ...                 ...            ...
3995                   15                   1      Afternoon
3996                   34                   1        Evening
3997                   40                   1        Evening
3998                   39                   3      Afternoon
3999                    6                   6        Morning

     Previous Membership Marital Status  Location Promotion Response  \
0                    Yes        Married     Rural                Yes
1                    Yes         Single  Suburban                Yes
2                     No        Married     Rural                Yes
3                     No        Married  Suburban                 No
4                    Yes         Single  Suburban                 No
...                  ...            ...       ...                ...
3995                 Yes         Single     Urban                 No
3996                  No         Single     Urban                 No
3997                 Yes        Married  Suburban                 No
3998                 Yes         Single     Urban                 No
3999                 Yes         Single  Suburban                Yes

     Health Condition Membership Prediction Professional   Professional Status
0             Average                    No  Late Career               Retired
1                Good                    No      Retired               Retired
2           Excellent                    No      Student               Student
3                Good                   Yes      Student               Student
4           Excellent                   Yes      Student               Student
...               ...                   ...          ...                   ...
3995             Good                    No   Mid Career  Working Professional
3996          Average                    No   Mid Career  Working Professional
3997             Good                   Yes  Late Career               Retired
3998             Poor                   Yes  Late Career  Working Professional
3999          Average                   Yes  Late Career  Working Professional

[4000 rows x 16 columns]>

#checking the type of data inside the data frame

In [5]:
df.dtypes

User ID                   int64
Age                       int64
Gender                   object
Annual Income             int64
Membership Type          object
Membership Duration       int64
Frequency of Visit        int64
Preferred Time           object
Previous Membership      object
Marital Status           object
Location                 object
Promotion Response       object
Health Condition         object
Membership Prediction    object
Professional             object
Professional Status      object
dtype: object

In [33]:
df

,User ID,Age,Gender,Annual Income,Membership Type,Membership Duration,Frequency of Visit,Preferred Time,Previous Membership,Marital Status,Location,Promotion Response,Health Condition,Membership Prediction,Professional,Professional Status
0,1,62,Other,135305,Premium,46,2,Afternoon,Yes,Married,Rural,Yes,Average,No,Late Career,Retired
1,2,65,Male,59056,Basic,26,6,Afternoon,Yes,Single,Suburban,Yes,Good,No,Retired,Retired
2,3,18,Male,63857,Basic,46,2,Afternoon,No,Married,Rural,Yes,Excellent,No,Student,Student
3,4,21,Male,135072,Basic,54,1,Evening,No,Married,Suburban,No,Good,Yes,Student,Student
4,5,21,Female,59344,Basic,36,5,Morning,Yes,Single,Suburban,No,Excellent,Yes,Student,Student
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,40,Male,127601,Premium,15,1,Afternoon,Yes,Single,Urban,No,Good,No,Mid Career,Working Professional
3996,3997,40,Female,77944,Premium,34,1,Evening,No,Single,Urban,No,Average,No,Mid Career,Working Professional
3997,3998,62,Male,33154,Basic,40,1,Evening,Yes,Married,Suburban,No,Good,Yes,Late Career,Retired
3998,3999,55,Female,139822,Premium,39,3,Afternoon,Yes,Single,Urban,No,Poor,Yes,Late Career,Working Professional
3999,4000,52,Female,61604,Basic,6,6,Morning,Yes,Single,Suburban,Yes,Average,Yes,Late Career,Working Professional

#First 15 Rows to see what it looks like approximately

In [10]:
df.head(15)

,User ID,Age,Gender,Annual Income,Membership Type,Membership Duration,Frequency of Visit,Preferred Time,Previous Membership,Marital Status,Location,Promotion Response,Health Condition,Membership Prediction,Professional,Professional Status
0,1,62,Other,135305,Premium,46,2,Afternoon,Yes,Married,Rural,Yes,Average,No,Late Career,Retired
1,2,65,Male,59056,Basic,26,6,Afternoon,Yes,Single,Suburban,Yes,Good,No,Retired,Retired
2,3,18,Male,63857,Basic,46,2,Afternoon,No,Married,Rural,Yes,Excellent,No,Student,Student
3,4,21,Male,135072,Basic,54,1,Evening,No,Married,Suburban,No,Good,Yes,Student,Student
4,5,21,Female,59344,Basic,36,5,Morning,Yes,Single,Suburban,No,Excellent,Yes,Student,Student
5,6,57,Male,130879,Premium,49,2,Afternoon,No,Married,Suburban,No,Good,Yes,Late Career,Working Professional
6,7,27,Female,99861,VIP,12,5,Morning,Yes,Single,Suburban,Yes,Good,No,Early Career,Working Professional
7,8,37,Female,136521,VIP,14,5,Evening,No,Single,Urban,No,Good,Yes,Mid Career,Working Professional
8,9,39,Female,36287,Premium,15,6,Evening,No,Single,Urban,Yes,Good,Yes,Mid Career,Working Professional
9,10,68,Male,66916,Basic,36,4,Morning,Yes,Single,Urban,No,Good,No,Retired,Retired
10,11,54,Female,87173,Premium,56,4,Evening,Yes,Single,Suburban,No,Good,No,Late Career,Working Professional
11,12,41,Female,145852,Basic,25,4,Afternoon,No,Single,Urban,No,Good,Yes,Mid Career,Working Professional
12,13,24,Female,26290,Basic,37,2,Morning,No,Married,Rural,No,Average,No,Student,Student
13,14,42,Female,72063,Basic,24,1,Evening,No,Single,Urban,No,Average,No,Mid Career,Working Professional
14,15,42,Male,133279,Basic,58,5,Morning,No,Married,Rural,No,Good,Yes,Mid Career,Working Professional

#Statistics about the data frame

In [23]:
df.describe(include='all')

,User ID,Age,Gender,Annual Income,Membership Type,Membership Duration,Frequency of Visit,Preferred Time,Previous Membership,Marital Status,Location,Promotion Response,Health Condition,Membership Prediction,Professional,Professional Status
count,4000.000000,4000.000000,4000,4000.000000,4000,4000.000000,4000.000000,4000,4000,4000,4000,4000,4000,4000,4000,4000
unique,NaN,NaN,3,NaN,3,NaN,NaN,3,2,4,3,2,4,2,5,3
top,NaN,NaN,Male,NaN,Basic,NaN,NaN,Morning,No,Single,Urban,No,Good,Yes,Late Career,Working Professional
freq,NaN,NaN,1840,NaN,2434,NaN,NaN,1595,2447,1996,2049,2733,1998,2016,1141,2719
mean,2000.500000,43.633000,NaN,86346.917000,NaN,30.301500,3.500500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1154.844867,15.182669,NaN,38029.388846,NaN,16.832407,1.709307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,18.000000,NaN,20046.000000,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1000.750000,30.000000,NaN,53324.250000,NaN,16.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2000.500000,44.000000,NaN,86908.000000,NaN,31.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3000.250000,57.000000,NaN,120324.000000,NaN,45.000000,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4000.000000,69.000000,NaN,149980.000000,NaN,59.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Sanity Check, calculation of zero values column wise

In [19]:
df.isnull().sum()

User ID                  0
Age                      0
Gender                   0
Annual Income            0
Membership Type          0
Membership Duration      0
Frequency of Visit       0
Preferred Time           0
Previous Membership      0
Marital Status           0
Location                 0
Promotion Response       0
Health Condition         0
Membership Prediction    0
Professional             0
Professional Status      0
dtype: int64

#Sanity Check, calculation of zero values row wise

In [22]:
df.isnull().sum(axis=1)

0       0
1       0
2       0
3       0
4       0
       ..
3995    0
3996    0
3997    0
3998    0
3999    0
Length: 4000, dtype: int64

#unique values in column Professional Status

In [24]:
df['Professional Status'].unique()

array(['Retired', 'Student', 'Working Professional'], dtype=object)

In [25]:
df['Professional Status'].value_counts()

Professional Status
Working Professional    2719
Retired                  726
Student                  555
Name: count, dtype: int64

In [26]:
df['Professional Status']

0                    Retired
1                    Retired
2                    Student
3                    Student
4                    Student
                ...
3995    Working Professional
3996    Working Professional
3997                 Retired
3998    Working Professional
3999    Working Professional
Name: Professional Status, Length: 4000, dtype: object

In [29]:
df['Professional Status'].isnull().max()

np.False_

#just checking manually, whether there are any 0 values

In [34]:
pd.set_option('display.max_rows', None)

In [ ]:
display(df)

#trying to find the rows with Single Retired People, 'srp_df'

In [42]:
options = ['Retired'] 
 

srp_df = df.loc[(df['Marital Status'] == 'Single') & 
              df['Professional Status'].isin(options)] 
srp_df.head(15)

,User ID,Age,Gender,Annual Income,Membership Type,Membership Duration,Frequency of Visit,Preferred Time,Previous Membership,Marital Status,Location,Promotion Response,Health Condition,Membership Prediction,Professional,Professional Status
1,2,65,Male,59056,Basic,26,6,Afternoon,Yes,Single,Suburban,Yes,Good,No,Retired,Retired
9,10,68,Male,66916,Basic,36,4,Morning,Yes,Single,Urban,No,Good,No,Retired,Retired
20,21,64,Male,92226,Premium,35,6,Morning,Yes,Single,Urban,Yes,Excellent,No,Late Career,Retired
29,30,69,Female,104543,Basic,1,2,Morning,No,Single,Rural,No,Excellent,Yes,Retired,Retired
31,32,69,Male,120896,Premium,19,4,Morning,No,Single,Suburban,No,Excellent,No,Retired,Retired
40,41,69,Female,141771,Premium,56,1,Evening,No,Single,Urban,No,Average,Yes,Retired,Retired
104,105,67,Male,94931,VIP,48,2,Morning,No,Single,Suburban,No,Poor,No,Retired,Retired
114,115,68,Female,51272,Premium,30,4,Afternoon,Yes,Single,Urban,No,Excellent,No,Retired,Retired
123,124,66,Female,148494,Premium,11,2,Afternoon,Yes,Single,Suburban,Yes,Good,No,Retired,Retired
130,131,61,Male,53152,Basic,3,3,Morning,No,Single,Urban,No,Excellent,Yes,Late Career,Retired
138,139,64,Male,109609,Basic,10,6,Afternoon,Yes,Single,Rural,No,Good,Yes,Late Career,Retired
154,155,69,Male,98226,Basic,14,4,Afternoon,Yes,Single,Rural,Yes,Poor,Yes,Retired,Retired
171,172,61,Female,68851,Basic,47,6,Afternoon,No,Single,Rural,No,Excellent,Yes,Late Career,Retired
187,188,63,Other,29600,Basic,26,3,Morning,No,Single,Urban,No,Good,No,Late Career,Retired
218,219,65,Male,106048,Premium,57,3,Morning,No,Single,Rural,No,Excellent,Yes,Retired,Retired

#So now, that I have found all the single retired people, lets calculate, what is the count of men and women, who are retired and single

In [44]:
options = ['Retired'] 
 

srp_df = df.loc[(df['Marital Status'] == 'Single') & df['Professional Status'].isin(options)] 
srp_df['Gender'].value_counts()

Gender
Male      163
Female    157
Other      20
Name: count, dtype: int64

#So now we know, that we have 163 retired men and 157 retired women, who are going to the gym, lets see, who is going in the morning, and who is going in the afternoon

In [46]:
options = ['Retired'] 
srp_df = df.loc[(df['Marital Status'] == 'Single') & df['Professional Status'].isin(options)] 
srp_df['Preferred Time'].value_counts()

Preferred Time
Morning      146
Afternoon     99
Evening       95
Name: count, dtype: int64

Now we see who is joining at what time, lets see, who is joining morning more often, women or men

This is for Male

In [47]:
options = ['Retired'] 
srp_df = df.loc[(df['Marital Status'] == 'Single') &(df['Gender']== 'Male') & df['Professional Status'].isin(options)] 
srp_df['Preferred Time'].value_counts()

Preferred Time
Morning      72
Afternoon    50
Evening      41
Name: count, dtype: int64

This is for the Women

In [48]:
options = ['Retired'] 
srp_df = df.loc[(df['Marital Status'] == 'Single') &(df['Gender']== 'Female') & df['Professional Status'].isin(options)] 
srp_df['Preferred Time'].value_counts()

Preferred Time
Morning      62
Evening      49
Afternoon    46
Name: count, dtype: int64

And for the other gender types, that are provided in the data frame

In [49]:
options = ['Retired'] 
srp_df = df.loc[(df['Marital Status'] == 'Single') &(df['Gender']== 'Other') & df['Professional Status'].isin(options)] 
srp_df['Preferred Time'].value_counts()

Preferred Time
Morning      12
Evening       5
Afternoon     3
Name: count, dtype: int64

Now lets see, who is going to the gym more often, male, female or other

In [62]:
options = ['Retired'] 
srp_df = df.loc[(df['Marital Status'] == 'Single') &(df['Gender']== 'Other') & df['Professional Status'].isin(options)] 
print('Other Gender are going in average',srp_df['Frequency of Visit'].value_counts().mean().round(),'times')
srp_df = df.loc[(df['Marital Status'] == 'Single') &(df['Gender']== 'Male') & df['Professional Status'].isin(options)] 
print('Men are going in average',srp_df['Frequency of Visit'].value_counts().mean().round(),'times')
srp_df = df.loc[(df['Marital Status'] == 'Single') &(df['Gender']== 'Female') & df['Professional Status'].isin(options)] 
print('Women are going in average',srp_df['Frequency of Visit'].value_counts().mean().round(),'times')

Other Gender are going in average 4.0 times
Men are going in average 27.0 times
Women are going in average 26.0 times

#Now I want to see, out our specifies category, what is the average income

In [63]:
df.columns

Index(['User ID', 'Age', 'Gender', 'Annual Income', 'Membership Type',
       'Membership Duration', 'Frequency of Visit', 'Preferred Time',
       'Previous Membership', 'Marital Status', 'Location',
       'Promotion Response', 'Health Condition', 'Membership Prediction',
       'Professional', 'Professional Status'],
      dtype='object')

In [116]:
Retired_df = df[(df['Marital Status'] == 'Single') & (df['Professional Status'] == 'Retired')]
Retired_df.head(5)

,User ID,Age,Gender,Annual Income,Membership Type,Membership Duration,Frequency of Visit,Preferred Time,Previous Membership,Marital Status,Location,Promotion Response,Health Condition,Membership Prediction,Professional,Professional Status
1,2,65,Male,59056,Basic,26,6,Afternoon,Yes,Single,Suburban,Yes,Good,No,Retired,Retired
9,10,68,Male,66916,Basic,36,4,Morning,Yes,Single,Urban,No,Good,No,Retired,Retired
20,21,64,Male,92226,Premium,35,6,Morning,Yes,Single,Urban,Yes,Excellent,No,Late Career,Retired
29,30,69,Female,104543,Basic,1,2,Morning,No,Single,Rural,No,Excellent,Yes,Retired,Retired
31,32,69,Male,120896,Premium,19,4,Morning,No,Single,Suburban,No,Excellent,No,Retired,Retired

So now we see the average income of single retired gym members by gender

In [134]:
group_income = Retired_df.groupby('Gender').agg({'Annual Income': ['mean']})
group_visit = Retired_df.groupby('Gender').agg({'Frequency of Visit': ['mean']})
group_membership_duration = Retired_df.groupby('Gender').agg({'Membership Duration': ['mean']})
group_visit
group_income
group_membership_duration
gro

       Membership Duration
                      mean
Gender
Female           29.866242
Male             30.588957
Other            28.550000